<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.kelocen.reminders">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
    android:allowBackup="true"
    android:fullBackupContent="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".LocationReminders"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Reminders.Theme">
    <!-- API Key is defined in local.properties -->
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="${MAPS_API_KEY}" />

    <activity
      android:exported="true"
      android:launchMode="singleTop"
      android:name=".authentication.AuthenticationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:exported="true"
      android:launchMode="singleTop"
      android:name=".locationreminders.RemindersActivity" />
    <activity android:name=".locationreminders.ReminderDescriptionActivity" />

    <receiver
      android:enabled="true"
      android:exported="true"
      android:name=".locationreminders.geofence.GeofenceBroadcastReceiver"
      android:permission="true" />
    <service
      android:exported="true"
      android:name=".locationreminders.geofence.GeofenceTransitionsJobIntentService"
      android:permission="android.permission.BIND_JOB_SERVICE" />
  </application>

</manifest>